<footer class="d-flex align-items-center justify-content-between">
    <p class="p-0 m-0">&copy; 2024 Velocity Vogue</p>
    <div class="links">
        <a target="_blank" href="https://github.com/JadBizri/vogue-velocity">
            <i class="bi bi-github h4"></i>
        </a>
        <a target="_blank" href="https://linkedin.com/in/jadbizri">
            <i class="bi bi-linkedin h4"></i>
        </a>
    </div>
</footer>
</body>

</html>