<%- include('./partials/header.ejs')%>
    <main class="text-center m-auto">
        <h1 class="slogan">Code <%= error.status%> Error</h1>
        <h3><%= error.message%></h3>
    </main>
<%- include('./partials/footer.ejs')%>