<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../styles/default.css">
    <title>Vogue Velocity</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary p-0 navbar-custom justify-content-between">
            <div>
                <a class="navbar-brand nav-link" href="./">
                    <img src="./../images/logo.png" id="logo" alt="Velocity Vogue">
                </a>
            </div>
            <form class="inline-form d-flex">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0 ms-1 buttons-yellow" type="submit">Search</button>
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navigation collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item pe-3">
                        <a class="nav-link" aria-current="page" href="./items.html">Browse</a>
                    </li>
                    <li class="nav-item pe-3">
                        <a class="nav-link active" href="#">Sell</a>
                    </li>
                    <li class="nav-item pe-3">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="d-flex align-items-center justify-content-between flex-wrap">

        <div>
            <img src="./../images/logo_white.png" class="img-fluid rounded" width="350" alt="logo">
        </div>        

        <div>
            <div>
                <h2 class="slogan">Sell your stuff direct at Vogue Velocity</h2>
                <p class="h5">Simply fill out this form and upload a picture of your item!</p>
            </div>

            <form class="border rounded border-warning p-3 w-100" action="#">
                <div class="mb-3">
                    <label class="form-label" for="condition">Condition</label>
                    <select class="form-select" name="condition" id="condition" required>
                        <option selected disabled value="">Select product condition</option>
                        <option value="new">New</option>
                        <option value="like-new">Used - Like New</option>
                        <option value="good">Used - Good</option>
                        <option value="fair">Used - Fair</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" placeholder="Title" type="text" name="title" id="title" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <input class="form-control" placeholder="0.00" type="number" name="price" id="price" step="0.01"
                        required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" placeholder="Add any details about your product" name="description"
                        id="description" rows="3" required></textarea>
                </div>

                <div class="mb-3">
                    <label for="formFile" class="form-label">Image</label>
                    <input class="form-control" type="file" id="formFile" required>
                </div>

                <button type="submit" class="buttons-dark btn btn-dark w-100">Submit</button>
            </form>
        </div>

        <div>
            <img src="./../images/motivational.jpg" class="img-fluid rounded" width="350" alt="go up and never stop">
        </div>  
    </main>

    <footer class="d-flex align-items-center justify-content-between">
        <p class="p-0 m-0">&copy; 2024 Velocity Vogue</p>
        <div class="links">
            <a target="_blank" href="https://github.com/JadBizri/vogue-velocity">
                <i class="bi bi-github h4"></i>
            </a>
            <a target="_blank" href="https://linkedin.com/in/jadbizri">
                <i class="bi bi-linkedin h4"></i>
            </a>
        </div>
    </footer>

</body>

</html>