<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../styles/default.css">
    <title>Vogue Velocity</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary p-0 navbar-custom justify-content-between">
            <div>
                <a class="navbar-brand nav-link" href="./">
                    <img src="./../images/logo.png" id="logo" alt="Velocity Vogue">
                </a>
            </div>
            <form class="inline-form d-flex">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0 ms-1 buttons-yellow" type="submit">Search</button>
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" style="flex-grow: 0;">
                <ul class="navbar-nav">
                    <li class="nav-item pe-3">
                        <a class="nav-link" aria-current="page" href="#">Browse</a>
                    </li>
                    <li class="nav-item pe-3">
                        <a class="nav-link" href="#">Sell</a>
                    </li>
                    <li class="nav-item pe-3">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-md-8 col-sm-9 d-flex flex-column p-3 rounded">
                    <h3>Vogue Velocity,
                        your go-to marketplace for buying and selling chic and trendy
                        clothing. <span class="slogan">Unleash Your Vogue Velocity</span> and experience the dynamic
                        blend of trendsetting fashion and effortless selling.
                    </h3>
                    <button class="btn btn-dark p-3 align-self-end buttons-dark">Start Shopping</button>
                    <img src="./../images/logo_white.png" class="img-fluid rounded p-0 mt-5 align-self-center"
                        width="350" alt="the logo">
                </div>
                <figure class="col-12 col-md-3 col-sm-8">
                    <img src="./../images/main-model.jpg" class="img-fluid rounded p-0 mt-1" width="350" id="main-model"
                        alt="a model">
                    <figcaption>
                        <h4><span class="slogan">FEATURED</span>: <small class="">Name & Price goes here</small></h4>
                    </figcaption>
                </figure>
            </div>
        </div>
    </main>

    <footer class="d-flex align-items-center justify-content-between" style="color: black;">
        <p class="p-0 m-0">&copy; 2024 Velocity Vogue</p>
        <div class="links">
            <a target="_blank" href="https://github.com/JadBizri">
                <i class="bi bi-github h4"></i>
            </a>
            <a target="_blank" href="https://linkedin.com/in/jadbizri">
                <i class="bi bi-linkedin h4"></i>
            </a>
        </div>
    </footer>

</body>

</html>