:root {
    --main-yellow: #F4D504;
}

* {
    font-family: "Bebas Neue", sans-serif !important;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
}

header,
main,
footer {
    padding: 16px 5%;
}

header {
    background-color: var(--main-yellow);
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    color: #FEFEFE;
}

footer {
    margin-top: auto;
    background-color: var(--main-yellow);
}

#logo {
    max-width: 10rem;
}

.slogan,
.buttons-dark,
.buttons-dark:hover,
.buttons-yellow:hover {
    color: var(--main-yellow);
}

.navbar-custom {
    background-color: var(--main-yellow) !important;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.links a {
    color: black;
    text-decoration: none;
}